@model IEnumerable<CrudOperationCore.Models.EShopProduct>

@{
    ViewData["Title"] = "Index";
}

@ViewBag.SelectedCategory
    <div class="row">
        <div class="col-2">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-10">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EShopProductId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EShopProductId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @item.Price.ToString("c")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                <form asp-action="AddtoCart" asp-controller="Cart" asp-route-id="@item.EShopProductId" method="post">
                                    <input type="hidden" asp-for="@item.EShopProductId" />
                                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                                    <button type="submit" class="btn btn-success btn-sm pull-right">
                                        Add To Cart
                                    </button>
                                </form>
                                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>



    